<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<meta name="x5-fullscreen" content="true">
	<meta name="full-screen" content="yes">

	<title> 卖座电影 Com.js</title>	

	<link rel="stylesheet" type="text/css" href="./src/css/swiper.css">
	<!-- 全局css -->
	<link rel="stylesheet" type="text/css" href="./src/css/app.css">
</head>

<body>

</body>

<!-- 外部JS -->
<script type="text/javascript" src="./src/js/rem.js"></script>
<script type="text/javascript" src="./src/js/swiper.js"></script>

<!-- 框架 -->
<script type="text/javascript" src="./Com.js/jquery.js"></script>
<script type="text/javascript" src="./Com.js/Com_tool.js"></script>
<script type="text/javascript" src="./Com.js/component.js"></script>  
<script type="text/javascript" src="./Com.js/template.js"></script>
<script type="text/javascript" src="./Com.js/doVFOR.js"></script>
<script type="text/javascript" src="./Com.js/require_doXHR.js"></script>
<script type="text/javascript" src="./Com.js/comRouter.js"></script>

<!-- 配置项 和 路由 -->
<script type="text/javascript" src="./com.config.js"></script>

</html>


<script type="text/javascript">
	
// var son = {
// 	template:`<h1 ref="txt"> h1h1h1 {{txt}} 
// 					<h1 style="background:red" v-bind:style="color:color" v-if="ifif">666</h1>

// 					<template>
// 						<span v-for="(v,k) in arr">{{v}}</span>
// 					</template>
// 				</h1>`,
// 	data:{
// 		txt:'txtxtxtxtxtxtxtx',
// 		arr:[1,2,3],
// 		color:'blue',
// 		ifif:true
// 	},
// 	watch:{
// 		txt(){
// 			error(1);
// 		},
// 		arr(){
// 			error(2);
// 		}
// 	},
// 	updated(){
		
// 	},
// 	mounted(){
// 		window.s = this ;
// 	},
// 	methods:{

// 	}
// }

// var ok = Com.make({
// 	template:`
// 		<div>
// 			{{txt}}
// 	<son/>
// 			<template>

// 				<div v-for="(v,k) in items" v-bind:key="k">
// 					{{v.name}}

// 					<h1 style="background:green" v-for="(v2,k2) in v.arr" v-on:click="click(v.name , v.age , items)">
// 						{{v2}}
// 					</h1>

// 				<son  ref="kkk"/>

// 				</div>

// 			</template>
// 		</div>
// 	`,
// 	el:'body',


// 	components:{
// 		son:son
// 	},
// 	data:{
// 		txt:'我是他爸爸',
// 		items:[
// 			{
// 				name:'111',
// 				age:1,
// 				arr:['jack1','jack2','jack3']
// 			},
// 			{
// 				name:'222',
// 				age:2,
// 				arr:['lucy']
// 			},
// 			{
// 				name:'333',
// 				age:3,
// 				arr:['tom1','tom2','tom3']
// 			},
// 		]
// 	},
// 	watch:{
// 		txt(){
// 			alert('watch');
// 		},
// 		items(){
// 			alert(555)
// 		}
// 	},
// 	mounted(){
// 		console.log(this.$refs)
// 	},
// 	updated(){
// 		alert('updated')
// 	},
// 	methods:{
// 		click(argms){
// 			console.log( argms[0],argms[1] ,JSON.parse(argms[2]));
// 		}
// 	}
// })




</script>