<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<meta name="x5-fullscreen" content="true">
	<meta name="full-screen" content="yes">

	<title> 卖座电影 Com.js</title>	

	<link rel="stylesheet" type="text/css" href="./src/css/swiper.css">
	<!-- 全局css -->
	<link rel="stylesheet" type="text/css" href="./src/css/app.css">
</head>

<body>

</body>

<!-- 外部JS -->
<script type="text/javascript" src="./src/js/rem.js"></script>
<script type="text/javascript" src="./src/js/swiper.js"></script>

<!-- 框架 -->
<script type="text/javascript" src="./Com.js/jquery.js"></script>
<script type="text/javascript" src="./Com.js/Com_tool.js"></script>
<script type="text/javascript" src="./Com.js/component.js"></script>  
<script type="text/javascript" src="./Com.js/template.js"></script>
<script type="text/javascript" src="./Com.js/doVFOR.js"></script>
<script type="text/javascript" src="./Com.js/require_doXHR.js"></script>
<script type="text/javascript" src="./Com.js/comRouter.js"></script>

<!-- 配置项 和 路由 -->
<script type="text/javascript" src="./com.config.js"></script>

</html>


<script type="text/javascript">
	


// Com.make({
// 	template:`
// 		<div style="background:red">
// 			<h1>{{text}}</h1>

// 			<template>
// 				<h2 v-for="(v,k) in arr">
// 					{{v}}-
// 					<h3 v-for="(v,k) in arr">---------{{k}}</h3>
// 				</h2>
// 			</template>
// 		</div>
// 	`,
// 	el:'body',

// 	data:{
// 		text:666,
// 		arr:[1,2,3,4]
// 	},

// 	mounted(){
// 		window.ok =this;
// 	},
// 	updated(){
// 		alert('updated')
// 	}

// })




</script>